@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Wasch';
    src: url(../Allianz/Waschkueche.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #0D0D0D;
    --cor1: #EEBC7D;
    --cor2: #2C2018;
    --cor3: #735236;
    --cor4: #F2F2F2;
    --cor5: #1f1f1f;
 
    --fonte--padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-barbearia: 'Wasch', cursive;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte--padrao);
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: auto;
}

header a{
    text-decoration: none;
    color: var(--cor3);
    transition: 0.3s;
    font-family: var(--fonte-destaque);
}

a:hover{
    color: var(--cor4);
}

.logo{
    font-family: var(--fonte-barbearia);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--cor4);
    text-shadow: 1px 1px 3px var(--cor1);
    float: left;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-destaque);
    background-color: var(--cor0);
    height: 8vh;

}

body{
    background-image: linear-gradient(to top, #181818 , #181818 20%);
    width: 100%;
    background-size: cover;
}

main{
    overflow: hidden;
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 13%;
    
    height: 98vh;
    width: 150vh;
    color: var(--cor4);
    font-family: var(--fonte--padrao);
}

.sobre{
    color: var(--cor4);
    display: flex;
    justify-content: center;
    margin: 2px;
    width: 50vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu:hover{
    background-color: #73523652;
    transition: 0.3s;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--cor3);
    margin: 8px;
}

@media (max-width: 999px){
    body {
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--cor0) ;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

.roberto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px ;
    margin-top: 37px;
}

.content{
    height: 520px;   
    width: 900px; 
    overflow: hidden;
    position: relative;
}

.containerphoto{
    
    width: 500px;
}

.navigation{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roberto2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 27px;
    width: 20%;

   
}

.bar{
    height: 12px;
    width: 52px;
    border: 2px solid  var(--cor1);
    margin: 6px;
    
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: var(--cor4);
    border: 2px solid  var(--cor1);
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
    position: relative;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slide s1,

#slide1:checked ~ .s1{
    margin-left: 0 ;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

.logos{
    color: var(--cor4);
    font-family: var(--fonte--padrao);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

}

.logos a{
    color: var(--cor4);
    font-size: 13px;
    font-family: var(--fonte--padrao);
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 3px;
}

.logos a:hover{
    font-weight: bolder;
    text-decoration: underline;
}

.logos img{
    height: 70px;
    width: 70px;
}

.share{
    margin-right: 20px;
}







































footer{
    background-color: var(--cor0) ;
    color: var(--cor4);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}











